.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.header {
  padding: 3rem 0;
  width: 100%;
}
.search {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
}
.search h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 2rem;
}
.search p {
  color: rgb(147, 157, 184);
  font-size: 1.1rem;
}
.form {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}
.form input {
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border: 1px solid transparent;
  border: 1.4px solid rgba(124, 135, 247, 0.1);
  background-color: rgba(124, 135, 247, 0.03);
  color: rgb(188, 195, 219);
}
.form input::placeholder {
  color: rgba(147, 157, 184, .7);
}
.icon {
  color: rgba(147, 157, 184, .5);
  margin-right: 10px;
  position: absolute;
  right: 0;
}
.section {
  column-count: 2;
  column-gap: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 3rem 0;
  width: 100%;
}
.card {
  padding: 1rem;
  width: 100%;
  border-radius: 24px;
  backdrop-filter: blur(36px);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border: 1px solid rgba(124, 135, 247, 0.1);
  transition: background-color .2s ease, background-image .2s ease;
  display: inline-block;
  margin-bottom: 1rem;
}
.card:hover {
  background-color: rgba(124, 135, 247, 0.08);
}
.card:hover p:nth-child(1) {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(152, 164, 247) -5%, rgb(218, 223, 252) 95%);
}
.card p:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) -5%, rgb(255, 255, 255) 95%);
}
.card p:nth-child(2) {
  font-size: 1.1rem;
  margin-top: .5rem;
  color: rgb(147, 157, 184);
}

@media screen and (min-width: 768px) {
  .section {
    column-count: 3;
  }
}
